<div class="section row">
    <div class="col-12">
        <div class="framework_header row">
            <div class="col-6">
                <div class="col-12">
                    <div class="framework_title">
                        <h1>Frameworks</h1>
                    </div>
                </div>
                <div class="col-12">
                    <div class="framework_txt">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus in delectus aliquam tenetur vero eius animi architecto. Praesentium dolorum tempora modi quia maiores deleniti perspiciatis dolore? Recusandae nihil tempore blanditiis.</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <div class="frameworks col-12">
            <div class="framework col-3" *ngFor="let framework of frameworks">
                <div class="framework_img col-12">
                    <img src="{{ framework.image }}" alt="">
                </div>
                <div class="framework_name_level">
                    <div class="col-6">
                        <h1>{{ framework.name }}</h1>
                    </div>
                    <div class="col-6">
                        <h1>{{ framework.level }}</h1>
                    </div>
                    <div class="col-12">
                        <h1>{{ framework.description }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>