<section>
    <div class="projects-settings">
        <div>
            <h1>All projects</h1>
        </div>
        <div>
            <i class="bi bi-sliders"></i>
        </div>
    </div>
    <div class="latest-projects">
        <div class="card card-one">
            <div class="card-img">
                <img src="../../assets/images/projects/téléchargement.jpg" alt="">
            </div>
            <div class="card-body">
                <div class="project-title">
                    <h1>Mojio Auto</h1>
                </div>
                <div class="project-links">
                    <a href="">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
                <div class="project-number">
                    <h1>1</h1>
                </div>
            </div>
        </div>
    
        <div class="card card-two">
            <div class="card-img">
                <img src="../../assets/images/projects/téléchargement.jpg" alt="">
            </div>
            <div class="card-body">
                <div class="project-title">
                    <h1>Bayarm</h1>
                </div>
                <div class="project-links">
                    <a href="">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
                <div class="project-number">
                    <h1>2</h1>
                </div>
            </div>
        </div>
        <div class="card card-tree">
            <div class="card-img">
                <img src="../../assets/images/projects/téléchargement.jpg" alt="">
            </div>
            <div class="card-body">
                <div class="project-title">
                    <h1>DevPea Site</h1>
                </div>
                <div class="project-links">
                    <a href="">
                        <i class="bi bi-github"></i>
                    </a>
                </div>
                <div class="project-number">
                    <h1>3</h1>
                </div>
            </div>
        </div>
    </div>
</section>