<div class="nav_bar">
    <div class="logo">
       <a href="#" class="logo_link"> N.W.B </a>
    </div>
    <nav>
        <ul class="nav_links">
            <li class="nav_link">
                <a routerLink="biogrphy">Biography</a>
            </li>
            <li class="nav_link">
                <a href="#">Languages</a>
            </li>
            <li class="nav_link">
                <a href="#">FrameWorks</a>
            </li>
            <li class="nav_link">
                <a href="#">Projects</a>
            </li>
            <li class="nav_link">
                <span>
                    <a href="#">Send an email</a>
                </span>
            </li>
        </ul>
    </nav>
</div>

<div class="anchor">
    <ul class="anchor_links">
        <li class="anchor_link">
            <span>
                <a href="#">Bio</a>
            </span>
        </li>
        <li class="anchor_link">
            <hr>
            <span>
                <a href="#">Lag</a>
            </span>
        </li>
        <li class="anchor_link">
            <hr>
            <span>
                <a href="#">FW</a>
            </span>
        </li>
        <li class="anchor_link">
            <hr>
            <span>
                <a href="#">Pro</a>
            </span>
        </li>
    </ul>
</div>

<app-biography></app-biography>
<app-languages></app-languages>

<!--<router-outlet></router-outlet>-->
