@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import "~bootstrap-icons/font/bootstrap-icons.css";


* {
    border: 0;
    margin: none;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

$bleu_f: #363434d5;

.nav_bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-height: 60px;
    background: transparent;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
    z-index: 1;
}

.side_nave {
    display: none;
}

/*.nav_bar .logo a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Lobster Two', cursive;
}*/

.nav_bar .logo img {
    width: 100px;
}

.nav_links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav_link a {
    color: $bleu_f;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin-right: 15px;
}

.email_link span a {
    margin: 0;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.email_link span {
    background: #2E55B7;
    display: flex;
    width: 130px;
    height: 35px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

/********************************************* Anchor ****************************************/

/*.anchor {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.anchor_links {
    list-style: none;
}

.anchor_link span {
    background: $bleu_f;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

.anchor_link hr {
    background: white;
    width: 100%;
    height: 2px;
}

.anchor_link a {
    text-decoration: none;
    color: white;
}*/

/**************************************** Main ***************************/

.main {
    display: flex;
    flex-direction: column;
}


/************************************************ Responsive *****************************/

@media screen and (max-width: 992px) {
    .nav_bar {
        padding-left: 5%;
        padding-right: 5%;
    }

    .side_nave {
        display: block;
        color: black;
        font-size: 35px;

        .bi-list {
            
        }
    }

    .nav_bar .logo img {
        width: 60px;
    }

    .nav_bar_links {
        display: none;
    }

    .email_link {
        display: none;
    }

}

@media screen and (max-width: 600px) {}