<!--<div class="nav_bar">
    <div class="logo">
        <img src="../assets/images/logo_1.png" alt="logo">
    </div>
    <div class="side_nave">
        <i class="bi bi-list"></i>
    </div>
    <nav class="nav_bar_links">
        <ul class="nav_links">
            <li class="nav_link">
                <a routerLink="home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav_link">
                <a routerLink="about_me" routerLinkActive="active">About Me</a>
            </li>
            <li class="nav_link">
                <a routerLink="#skils" routerLinkActive="active">Skils</a>
            </li>
            <li class="nav_link">
                <a routerLink="projects" routerLinkActive="active">Projects</a>
            </li>
        </ul>
    </nav>
    <div class="email_link">
        <span>
            <a href="#">Contact Me</a>
        </span>
    </div>
</div>-->

<!--<div class="anchor">
    <ul class="anchor_links">
        <li class="anchor_link">
            <span>
                <a href="#biography">Bio</a>
            </span>
        </li>
        <li class="anchor_link">
            <hr>
            <span>
                <a href="#languages">Lag</a>
            </span>
        </li>
        <li class="anchor_link">
            <hr>
            <span>
                <a href="#frameworks">FW</a>
            </span>
        </li>
        <li class="anchor_link">
            <hr>
            <span>
                <a href="#projects">Pro</a>
            </span>
        </li>
    </ul>
</div>-->

<app-nav-bar></app-nav-bar>
<div class="main">
    <!--<div id="biography">
        <app-biography></app-biography>
    </div>
    <div id="languages">
        <app-languages></app-languages>
    </div>
    <div id="frameworks">
        <app-frameworks></app-frameworks>
    </div>
    <div id="projects">
        <app-projects></app-projects>
    </div>-->
    <router-outlet></router-outlet>
</div>