@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    border: 0;
    margin: none;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}

@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

$bleu_f: #363434d5;
.main {
    display: flex;
    flex-direction: column;
}
