<div class="section">
    <div class="language_txt">
        <div class="language_title">
            <h1>Langages maitris&eacute;s</h1>
        </div>
        <div class="language_texte">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis est consequatur ullam dicta perferendis error minus doloribus. Voluptatibus impedit quibusdam sed incidunt aperiam ut corporis, voluptates, vel doloremque velit dolore!</p>
        </div>
    </div>
    <div class="languages">
        <div class="language" *ngFor="let language of languages">
            <div class="language_image">
                <img src="{{language.image}}" alt="">
            </div>
           <div class="language_name_level">
                <div class="language_name">
                    <h2> {{ language.name }}</h2>
                </div>
                <div class="language_level">
                    <h2> {{ language.level }}</h2>
                </div>
           </div>
        </div>
    </div>
</div>
