* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

$bleu_f: #03266e;

.section {
    width: 100%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.languages {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.language_txt {
    margin-left: 30px;
    margin-bottom: 5%;
}

/*.language::after {
    content: "";
    clear: both;
    display: table;
}*/

.language_title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.language_texte {
    width: 50%;
}

.language_texte p{
    font-size: 15px;
    margin-top: 15px;
    line-height: 20px;
    color: #181616;
    line-height: 30px;
    font-weight: 500;
}

.language_title h1 {
    color: $bleu_f;
    font-size: 40px;
    font-weight: bold;
}

.language {
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    float: left;
    box-shadow: 0.5px 0.5px 10px black;
    animation: apparition 0.8s ease-out;
}

.language .language_image{
    width: 100%;
    display: flex;
    padding-top: 5px;
    justify-content: center;
}

.language .language_image img {
   width: 150px;
}

.language_name_level {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.language_name_level h1{
   font-size: 30px;
   font-weight: bold;
}

/********************************* Responsive *****************************/

@media screen and (max-width: 992px) {
    .languages {
        width: 100%;
    }

    .language_txt {
        margin-left: 0;
        width: 100%;
    }

    .language_title {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .language_texte {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-left: 10%;
        padding-right: 10%;
    }

}

@media screen and (max-width: 600px) {

    .languages {
        display: flex;
        flex-direction: column;
    }
    
    .language_title h1 {
        color: $bleu_f;
        font-size: 30px;
        font-weight: bold;
    }

    .language_texte p{
        line-height: 20px;
    }
}

