<div class="section biography">
    <div class="biography_txt">
        <div class="txt_1">
            <h3>Je suis </h3>
        </div>
        <div class="txt_2">
            <h1>NOGUE WAFO Brice </h1>
        </div>
        <div class="txt_3">
            <p>D&eacute;veloppeur Web et &eacute;tudiant en 3eme ann&eacute;e universitaire</p>
            <div class="compets">
                <div class="compet">
                    <h3><span>Kotlin</span></h3>
                </div>
                <div class="compet">
                    <h3><span>Java</span></h3>
                </div>
                <div class="compet">
                    <h3><span>Javascript</span></h3>
                </div>
                <div class="compet">
                    <h3><span>Php</span></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="biography_img">
        <img src="../../assets/images/NogueWafoBrice.png" alt="">
    </div>
</div>
