<div class="section">
    <img src="../../assets/images/biography_1.svg" alt="" class="bg_img">
    <!--<div class="picture">
        <img src="../../assets/images/photo_2022-12-23_21-10-38.jpg" alt="">
    </div>-->
    <div class="texts">
        <div class="text_1">
            <h3>Je suis </h3>
        </div>
        <div class="text_2">
            <h1>NOGUE WAFO Brice </h1>
        </div>
        <div class="text_3">
            <p>D&eacute;veloppeur Web et &eacute;tudiant en 3eme ann&eacute;e universitaire <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, asperiores atque. Impedit eius accusantium autem, dolore eum earum, labore nam, molestias totam qui aliquid blanditiis sit! Fuga nemo quo autem.
            </p>
        </div>
    </div>
</div>
