<header>
    <div class="navbar">
        <div class="logo">
            <a href="#">Alpha</a>
        </div>
        <ul class="links">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About Me</a>
            </li>
            <li>
                <a href="#">Skils</a>
            </li>
            <li>
                <a href="#">Projects</a>
            </li>
        </ul>
        <a href="#" class="action_btn">Contact Me</a>
        <div class="toggle_btn" (click)="openNav()">
            <i class="bi bi-list"></i>
        </div>
    </div>

    <div class="dropdown_menu">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">About Me</a>
        </li>
        <li>
            <a href="#">Skils</a>
        </li>
        <li>
            <a href="#">Projects</a>
        </li>
        <li>
            <a href="#" class="action_btn">Contact Me</a>
        </li>
    </div>
</header>